.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

header {


  height: 3em;

  background-color: black;

}
.headers{
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
 display: -ms-flexbox;  /* TWEENER - IE 10 */
 display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
 display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
 -webkit-box-pack: justify;
 -webkit-justify-content: space-between;
 -ms-flex-pack: justify;
 justify-content: space-between;
  font-size: 20px;
  color: #cccccc;
  flex: 1;
}

.header_left{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 40px;
}
.header_right{
  display: flex;
  margin-left: 500px;
}
.header1{
  display: flex;
  justify-content: space-between;

}

.symbol{
  color: white;
}
.header1 {
  cursor: pointer;
  font-size: 1.1em;
}
.checkbox_one {

}
.checkbox_two {

}
.checkbox_three {

}

.vkladki{
  display: flex;
  flex-direction: row;
  -webkit-justify-content: space-around; /* Safari */

   justify-content: space-around;
   align-items: baseline;
   align-content: space-around;

  margin-right: 233px;
  margin-bottom: 14px;
  font-family: 'PT Sans';
  cursor: pointer;
}
.vkladka1{
  font-size: 1.1em;
}
.vkladka1:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.form-container {
  position: absolute;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  width: 600px;
  height: 680px;
  margin-left: 260px;
  margin-top: 60px;
}

.form{
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
  width: 600px;
  margin-bottom: 30px;
  padding-left: 30px;
}

.form h2 {
  margin-top: 30px;
}

.form-label {
  margin-top: 20px;
}

.form-input {
  display: block;
  width: 90%;
  height: 30px;
  font-size: 22px;
}

.input-year {
  width: 80px;
}

.form-btns {
  margin-top: 10px;
  margin-left: 150px;
}

.form button {
  height: 40px;
  width: 130px;
  border: 0;
  margin-right: 20px;
}

.background-grey {
  background-color:	rgb(232,232,232);
}
.main_button {
  display: inline-block;
  position: absolute;
  bottom: 755px;
  right: 460px;
  margin-left: 740px;
  width: 60px;
  height: 60px;
  background-color: #ff6633;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 2px 6px 10px rgba(0,0,0,.25);
  margin-bottom: -5px;
  color: white;
}

 .checkbox_one{
  border: 1.2px solid #cccccc;
}

input[type=text] {
  border: 1.2px solid #cccccc;
  border-color: #cccccc;
  border-radius: 2px;
  width: 14em;
  height: 2em;
  margin: 33px;
}
.querys{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: space-between;
  font-size: 14px;
  margin-top: -15px;
}
.checkbox_one {
  width: 1.4em;
  height: 1.4em;
}
.checkbox_two {
  width: 1.4em;
  height: 1.4em;
}
.checkbox_three {
  width: 1.4em;
  height: 1.4em;
}
.recktangle {
  background-color: white;
  display: flex;
  flex-direction: column;

  height: 53em;
  width: 72em;

}
h1{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  margin: 33px;
  margin-left: 10px;
  font-family: 'PT Sans';
}

.items_titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-family: 'PT Sans';
  margin-left: 20px;
  margin-right: 20px;
}

.titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #cccccc;
  font-family: 'PT Sans';
  margin-left: 20px;
  margin-right: 20px;
}

.item_title{
  width: 600px;
  word-wrap: break-word;
}
.city{
  margin-left: 10px;
}
.title{
  margin-left: 20px;
}
.data{
  margin-left: 500px;
}
.money{

}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
